@charset "UTF-8";

* {
  background-color: #eaedf2;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: poppins;
  src: url(img-font/Poppins-Medium.ttf);
}
body {
  font-family: "poppins";
}
.logo {
  width: 130px;
}
.nav-bar {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  font-family: "poppins";
}
.nav-search {
  border: 1px solid gray;
  width: 500px;
  height: 46px;
  text-decoration: none;
  border-radius: 15px;
  padding: 25px;
  outline: none;
  transition: 0.5s;
  background-color: transparent;
  font-size: 1em;
  font-family: "poppins";
}
.nav-search:hover {
  width: 509px;
  transition: 0.5s;
  color: gray;
  border: 1px solid #ff3e4c;
}
.buttons-actions,
a {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-size: 1.2em;
  margin-right: 3px;
  font-family: "poppins";
}
.buttons-actions-person {
  background-color: rgba(160, 160, 160, 0.144);
  border: 1px solid rgb(0, 0);
  color: black;
  border-radius: 20px;
  padding: 6px;
  font-size: 1.3em;
  margin-left: 30px;
  outline: none;
}
.mobile-menu-icon {
  display: none;
}
.mobile-menu {
  display: none;
}
.text-a {
  font-size: 1em;
  text-decoration: none;
  color: rgb(62, 62, 62);
}
@media screen and (max-width: 920px) {
  .nav-bar {
    padding: 30px;
    font-family: "poppins";
  }
  .search-box {
    display: none;
  }
  .buttons-box {
    display: none;
  }
  .mobile-menu-icon,
  button {
    color: black;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.4em;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .nav-search {
    width: 365px;
  }
  .nav-search:hover {
    width: 370px;
  }
  .buttons-actions-person {
    margin-top: 15px;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 6px;
    background-color: rgba(128, 128, 128, 0.144);
  }
  .buttons-actions {
    margin-left: 33px;
    padding-top: 15px;
  }
  .text-a {
    font-size: 0.9em;
    text-decoration: none;
    color: rgb(62, 62, 62);
  }
  .buttons-actions-tele {
    margin-left: 33px;
    padding-top: 45px;
  }
  .buttons-actions-bag {
    margin-left: 33px;
    padding-top: 10px;
  }
  .open {
    display: block;
  }
}
/*css do login*/

.body {
  background-color: #eaedf2;
}
.container {
  padding: 30px;
  background-color: #eaedf2;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
  border-radius: 20px;
  flex-direction: column;
}
.nome {
  padding-top: 60px;
  display: block;
  padding-bottom: 30px;
}
.input-group {
  text-align: center;
}
.nome input {
  background-color: #eaedf2;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  width: 80%;
  outline: none;
}
.nome input::placeholder {
  font-size: 1.2em;
  color: rgba(128, 128, 128, 0.509);
}
.senha input {
  background-color: #eaedf2;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  width: 80%;
  outline: none;
}
.senha input::placeholder {
  font-size: 1.2em;
  color: rgba(128, 128, 128, 0.509);
}
.senha {
  display: block;
  padding-bottom: 30px;
}
.check {
  display: flex;
  padding-bottom: 19px;
}
.text {
  padding-bottom: 50px;
  font-size: 1em;
}
.span-color {
  color: #db3641;
}
.a {
  font-size: 1em;
  color: #db3641;
}
#labels {
  font-size: 1.1em;
}
.title h1::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.3rem;
  background-color: #db3641;
  margin: auto;
  border-radius: 4px;
}
.title {
  width: 300px;
  color: #db3641;
  font-size: 1em;
  text-align: center;
}
.button-submit .sub {
  border: none;
  background-color: transparent;
  margin: auto;
  padding: 8px 45px;
  display: block;
  border-radius: 15px;
  box-shadow: 10px 10px 20px #a3b1c6, -10px -10px 20px #ffffff;
}
.check label {
  margin-left: 7px;
}
.img-logo {
  width: 250px;
  padding-bottom: 30px;
}
.sub {
  border: none;
  font-family: "poppins";
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .title {
    width: 300px;
    font-size: 1em;
  }
  .nome {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

/* css for card main */

.section-1 {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-list .card-item .card-link {
  height: 100vh;
  width: 200px;
  border-radius: 15px;
  display: block;
  padding: 13px;
  text-decoration: none;
  transition: 0.2s ease;
}
.card-image {
  margin: auto;
  width: 150px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 8px;
}
.desc-group{
  margin: auto;
  flex-direction: column;
  display: flex;
}
.card-list .card-item {
  list-style: none;
}
.card-list .card-link .card-image {
  aspect-ratio: 10 / 11;
  object-fit: contain;
  border-radius: 10px;
}
.desc-produto {
  font-size: 0.8em;
}
.line {
  text-decoration: line-through;
  font-size: 0.6em;
  color: gray;
}